/* styles.css */
.nav-link {
    color: yellow; /* Regular navbar item color */
}

.nav-item.active {
    color: white; /* Active navbar item color */
    background-color: navy; /*navy Active navbar item background */
    font-weight: bold; /* Active navbar item font weight */


}
